#!/usr/bin/make -f
DH_VERBOSE := 1

VERSION         ?= 1.0
REVISION        ?= 1
TIMESTAMP       := $(shell date -R)
YEAR            := $(shell date +%Y)
PUBKEY          ?= $(shell GNUPGHOME=/dev/null gpg --list-packets debian/cuda-archive-keyring.gpg | grep 'keyid:' | cut -d: -f2 | rev | cut -c -8 | rev)
PINFILE         := $(shell test -f debian/cuda-repository-pin-600 && echo 1)
DISTRO          ?= $(shell grep -oP '(?<=^ID=).*|(?<=^VERSION_ID=).*' /etc/os-release | paste -sd '\0')
ARCH            ?= x86_64

ifeq ($(PINFILE),1)
PRIORITY :=
else
PRIORITY := \#
endif

%:
	dh $@ 

override_dh_clean:
	dh_clean

override_dh_auto_build:
	rm -f lib*.so

fill_templates:
	for template in debian/templates/*.in; do \
		dest=`echo $$template | \
		      sed -e "s|\.in\$$||" \
		          -e "s|templates\/||" \
		          -e "s|REPO|$(DISTRO)-$(ARCH)|"`; \
		sed -e "s|#VERSION#|$(VERSION)|g" \
		    -e "s|#REVISION#|$(REVISION)|g" \
		    -e "s|#DISTRO#|$(DISTRO)|g" \
		    -e "s|#ARCH#|$(ARCH)|g" \
		    -e "s|#PRIORITY#|$(PRIORITY)|g" \
		    -e "s|#PUBKEY#|$(PUBKEY)|g" \
		    -e "s|#YEAR#|$(YEAR)|g" \
		    -e "s|#TIMESTAMP#|$(TIMESTAMP)|g" \
		    $$template > $$dest; \
	done

override_dh_auto_install:
	dh_install --exclude=none --fail-missing

override_dh_makeshlibs:
	DEB_BUILD_GNU_TYPE=$(DEB_HOST_GNU_TYPE) dh_makeshlibs

#
# Turn off a few of the debhelper scripts
#
override_dh_usrlocal:

override_dh_strip:

override_dh_strip_nondeterminism:

#
# Disable dh_shlibdeps to allow packaging to run on systems which aren't
# the same architecture we're packaging for.
#
override_dh_shlibdeps:

ifneq ($(DISABLE_FIXPERMS),)
override_dh_fixperms:
endif
